@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Balsamiq Sans', sans-serif;
}

.message {
	@apply group-has-[#show-messages:checked]:block;
}

.artwork {
	@apply group-has-[#show-artwork:checked]:block;
}

.photo {
	@apply group-has-[#show-pictures:checked]:block;
}

.video {
	@apply group-has-[#show-videos:checked]:block;
}

.invisible-left {
	opacity: 0;
	transform: translateX(-5%);
}

.invisible-right {
	opacity: 0;
	transform: translateX(5%);
}

.invisible-y {
	opacity: 0;
	transform: translateY(5%);
}

.visible {
	opacity: 1;
	transform: translateX(0), translateY(0);
}

.transition-section {
	@apply transition-all ease-in-out duration-500;
}
